:root{
    --primary-color: #3D4F42;
    --secondary-color: #F6B389;
    --accent1-color: #F7A637;
    --accent2-color: #E7E0DB;
    --accent3-color: #231F20;
    

    --heading-font: 'Granville', sans-serif;
    --paragraph-font: 'Inter', sans-serif;

}

header, footer {
    background-color: var(--primary-color)
}

header {
    display: grid;
    grid-template-columns: 80px 250px auto;
}

h1 {
    font-family: var(--heading-font);
    font-weight: lighter;
    color: white;
}

.subheader {
    font-size: 0.75rem;
    font-weight: 500;
    font-family: var(--paragraph-font);
    display: block;
    margin: 0 5px;
}

nav {
    background-color: var(--accent2-color);
    height: 0;
    overflow: hidden;
}

#animateme {
    transition: height 0.5s ease-out;
}

nav.open {
    height: 183px;
}

#hambutton::before {
    content: "\2630";
}

#hambutton {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    padding: 20px;
    margin-left: auto;
}

ul.navigation li a {
    display: block;
    padding: .85rem 2vw;
    color: var(--accent3-color);
    text-decoration: none;
    font-family: var(--paragraph-font);
}

li.active a {
    background-color: rgba(0, 0, 0, 0.17);
}

ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#hambutton.open::before {
    content: "X";
    font-size: smaller;
    font-family: var(--paragraph-font);
    color: white;
}

nav ul {
    overflow: hidden;
}

ul.navigation a:hover {
    background-color: rgba(255,255,255,0.4);
}

.hero-image img {
    width: 100%;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    font-family: var(--heading-font);
    font-weight: lighter;
}

p {
    font-family: var(--paragraph-font);
    padding: 0 25px;
}

.main-content {
    margin: 60px 0;
}

#diet-exercise-card, #emotional-card {
    text-align: center;
    margin: 0 auto;
    background-color: var(--accent2-color);
    overflow: hidden;
    padding: 0;
    border-radius: 50px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    max-width: 80%;
}

.image-container {
    display: block;
    position: relative;
}

.image-container a {
    display: block;
    position: relative;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    cursor: pointer;
    display: block;
}

#diet-exercise-card:hover, #emotional-card:hover {
    transform: scale(1.03);
}

.card-content {
    padding: 20px 0 0 0;
    background-color: var(--accent2-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.image-container h3 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    font-family: var(--paragraph-font);
}

#diet-exercise-card p, #emotional-card p {
    margin-top: 10px;
    font-family: var(--heading-font);
    text-align: center;
    justify-self: center;
    padding: 10px 34px 10px;
    margin: 0;
    margin-bottom: 30px;
    font-size: larger;
    font-weight: lighter;
} 

.carousel {
    position: relative;
    overflow: hidden;
    height: 500px;
    width: auto;
    padding: 0;
    margin: 0;
}

.carousel-item {
    align-items: center;
    text-align: center;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateX(100%);
    flex: 0 0 100%;
}

.carousel-item.show {
    opacity: 1;
    transform: translateX(0);
}

.carousel-item.hide-left {
    transform: translateX(-100%);
    opacity: 0;
}

.carousel-item img {
    max-width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.carousel-item h3, .carousel-item h3 em {
    color: var(--accent3-color);
}

.carousel-item p {
    margin: 10px 0;
    padding: 0 60px;
    text-align: left;
    color: var(--accent3-color);
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    border-radius: 10px;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: var(--accent2-color);
    color: var(--accent3-color);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

/* for the form */
#form-title {
    background-color: rgba(247, 166, 55, 0.8);
    color: var(--accent3-color);
    padding: 10px;
    margin-bottom: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.newsletter-card {
    margin: 20px;
    background-color: rgba(231, 224, 219, 0.3);
    padding-bottom: 10px;
    border-radius: 50px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 75%;
    margin: 0 auto;
    min-width: 450px;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.form-container label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-family: var(--paragraph-font);
    align-items: center;
    font-weight: 600;
}

.form-container label span {
    width: 100px; 
    text-align: left;
}

.form-container label input {
    flex: 1; 
    padding: 5px;
    border-radius: 3px;
    border: .5px solid black;
}

.newsletter-form fieldset {
    width: 400px;
    margin: 0 auto;
}

.newsletter-form fieldset legend {
    font-family: var(--paragraph-font);
    font-weight: 600;
}

.newsletter-form fieldset label {
    font-family: var(--paragraph-font);
    padding: 10px;
    line-height: 2;
}

input[type="radio"] {
    margin: 0 5px 0 10px;
    transform: scale(1.5);
}

.newsletter-form button {
    font-family: var(--paragraph-font);
    margin: 20px auto;
    padding: 10px 45px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    display: block;
    background-color: rgba(247, 166, 55, 0.8);
    font-weight: 500;
}

button:hover {
    background-color: rgba(26, 28, 26, 0.8);
    color: white;
    cursor: pointer;
}

.visually-hidden {
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 15px 0 15px 10px;
    margin-top: 65px;
    width: 100%;
    box-sizing: border-box;
}

footer h2 {
    font-family: var(--heading-font);
    width: 150px;
    padding-left: 10px;
    color: white;
    text-align: left;
    margin-bottom: 0;
}

footer p {
    font-family: var(--paragraph-font);
    padding-left: 10px;
    line-height: .5rem;
    color: white;
}

.sociallinks {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.sociallinks img {
    width: 50px;
    height: 50px;
}

/* for thank you page */
.hero-container {
    position: relative;
    text-align: center;
}

.hero-image {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border-radius: 5px;
    font-family: var(--heading-font);
    font-size: 1.7rem;
}

.thank-you {
    color: var(--accent3-color);
    text-align: center;
    font-size: 1.5rem;
    margin: 10px;
    position: relative;
}

#results {
    background-color: var(--secondary-color);
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    color: var(--accent3-color);
    border-radius: 50px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: var(--paragraph-font);
    margin-top: 20px;
}

#results a {
    text-decoration: none;
    color: var(--accent3-color);
}

/* for diet and exercise page */
.intro-image {
    display: none;
}

.intro-container h2 {
    color: var(--accent3-color);
    text-align: center;
    margin: 20px 10px;
    font-size: 2em;
}

.exercise-heading {
    padding-top: 20px;
    border-top: 0.5px solid var(--accent3-color);
}

.tips {
    padding: 5px 10px;
    margin-top: 30px;
}

.tips ul li {
    font-family: var(--paragraph-font);
    padding-bottom: 10px;
}

.exercise-image-card {
    position: relative;
    display: inline-block;
}

.tips img {
    width: 100%;
    height: auto;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.image-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 1.2em;
    text-align: center;
    width: 80%;
}

.tip-cards {
    background-color: var(--accent2-color);
    border-radius: 50px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    margin: 10px 10px 30px 10px;
    padding-bottom: 5px;
}

.tip-cards ul li {
    padding: 8px;
}

.motivation {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.motivation blockquote {
    font-family: var(--paragraph-font);
    font-size: 1.5em;
}

aside h3, aside h4 {
    font-family: var(--heading-font);
    font-weight: lighter;
    text-align: left;
    margin-left: 20px;
}

aside {
    width: 90%;
    margin: 0 auto;
    background-color: var(--secondary-color);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 50px;
    border-radius: 50px;
}

.resources {
    border-bottom: .5px solid var(--accent3-color);
}

.resources ul li {
    padding-bottom: 5px;
    margin-left: 20px;
    font-family: var(--paragraph-font);
}

.resources a {
    font-family: var(--paragraph-font);
    color: var(--accent3-color);
}

.story blockquote {
    font-family: var(--paragraph-font);
    font-size: 1em;
}

cite {
    margin-left: 40px;
}

.success-stories {
    padding-bottom: 20px;
    border-bottom: .5px solid var(--accent3-color);
}

.faq p {
    margin-left: 10px;
}

/* for emotional wellness page */
.understanding-card {
    background-color: var(--accent2-color);
    border-radius: 50px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    margin: 10px 10px 30px 10px;
    padding-bottom: 5px;
    width: 90%;
    margin: 0 auto;
}

.understanding-card img {
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.tip-cards h3, .understanding-card h3 {
    font-family: var(--paragraph-font);
    text-align: center;
}

.mindful-exercises {
    width: 75%;
    margin: 0 auto;
}

.emotional-content h2 {
    margin: 50px 0 20px 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.85);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: center;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

.modal button {
    font-family: var(--paragraph-font);
    padding: 10px;
    width: 175px;
    background-color: var(--secondary-color);
    border: 0.25px solid var(--accent3-color);
    border-radius: 5px;
}

.modal button:hover {
    background-color: var(--accent3-color);
}

#breathing-exercise-card img, #grateful-vibes-card img {
    border-radius: 0;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

#breathing-exercise-card, #grateful-vibes-card {
    background-color: var(--accent2-color);
    margin-top: 20px;
    border-radius: 50px;
    margin-bottom: 20px;
}

#breathing-exercise-card h3, #grateful-vibes-card h3{
    font-family: var(--paragraph-font);
    font-weight:400;
    text-align: center;
}

#breathing-exercise-card:hover, #grateful-vibes-card:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.community a {
    color: var(--accent3-color);
}

/* for about us page */
.hero-container h2 {
    font-size: 2em;
    margin-bottom: 5px;
}

#about-us {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
}

