@media (min-width: 740px) {

    #hambutton {
        display: none;
    }

    nav {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 35px;
        grid-template-rows: 1fr;
        background-color: transparent;
        width: 50%;
        height: auto;
    }

    ul.navigation, ul.navigation.open {
        display: flex;
        justify-content: flex-end;
    }

    #members.list .member-item {
        display: grid;
        grid-template-columns: repeat(4, minmax(200px, 1fr));
        align-items: center;
    }

    .member-address {
        margin-left: 10px;
    }
    
    .member-phone {
        justify-self: center;
    }

    footer {
        flex-direction: row;
        justify-content: space-evenly;
    }

    footer h2, footer p {
        padding: 0;
    }

    .sociallinks {
        align-items: center;
    }

}

